<app-navbar></app-navbar>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>About Us</title>
</head>
<body class="bg-gray-100 mb-10">
  <div class="container mx-auto mt-8">
    <!-- Image Section -->
    <div class="text-center ">
      <img src="https://media.istockphoto.com/id/1046843180/photo/happy-woman-shopping-at-a-furniture-store.webp?s=2048x2048&w=is&k=20&c=oU1EpguRgGRIKt9WYfZ2KtLIVbnewR0KqGcZxfbqLes=" alt="Company Image" class="rounded-lg shadow-lg w-full ">
    </div>

    <!-- Title Section -->
    <h1 class="text-4xl font-bold text-gray-800 my-4 text-center">About Us</h1>

    <!-- Text Description Section -->
    <p class="text-lg text-gray-700 leading-relaxed">
      Welcome to Shopee, your go-to destination for all your shopping needs. At Shopee, we believe in providing a seamless and enjoyable online shopping experience. Our platform is designed to offer a wide range of products, from the latest trends to timeless classics.

      We take pride in ensuring the quality of our products and the satisfaction of our customers. With a user-friendly interface and secure payment options, shopping with us is not just convenient but also reliable. Our dedicated team is committed to delivering exceptional service, making your online shopping journey memorable.

      Whether you're looking for fashion, electronics, home decor, or more, [Your Company Name] has you covered. Explore our diverse range of products and join the growing community of satisfied customers.

      Thank you for choosing [Your Company Name]. Happy shopping!
    </p>
  </div>
</body>
