<app-navbar></app-navbar>
<div class="center pt-4 bg-gray-100 bg-cover bg-center h-screen rounded ">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">

      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-blue-600">Sign in to your account</h2>

    </div>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto  w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
   -->
    <div class="mt-10 sm:mx-auto sm:w-full rounded-md sm:max-w-screen-md shadow-50xl  p-6 bg-gray-200 h-70">
      <form class="space-y-6 mt-7" [formGroup]="logInUserForm" (ngSubmit)="loginUser()" >
        <div>
         

         
          <label for="email" class="block text-lg mb-3 font-medium leading-6 text-gray-900 ">Email address</label>
          <div class="mt-2">
            <input id="email" formControlName="userEmail" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg sm:leading-6 py-2 p-3">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-lg font-medium leading-6 text-gray-900  ">Password</label>
          
          </div>
          <div class="mt-2">
            <input id="password" formControlName="userPassword" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg lg:leading-6 py-2 p-3">
          </div>
          
        </div>
  
        <div>

          <button type="submit" class="  w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700">Sign in</button>
        </div>
      </form>
      <div class="text-sm mt-6">
        <a href="#" class="font-semibold text-black hover:text-blue-700">Forgot password?</a>
      </div>  
      <p class="mt-10 text-center text-sm text-black">
       Dont have an account?
        <a routerLink = "/sign" class="font-semibold leading-6 text-black hover:text-blue-700">Sign up</a>

      </p>
    </div>
  </div>