<app-navbar></app-navbar>
<div class="center pt-4 bg-gray-100 bg-cover bg-center h-screen rounded " style="background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">

      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-blue-600">  Reset Your Password</h2>

    </div>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto  w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

  
    <div class="mt-10 sm:mx-auto sm:w-full rounded-md sm:max-w-sm shadow-2xl p-6 bg-gray-100 ">
      <!-- <div data-cy="general-message" [ngClass]="{'success-message': successMessage, 'error-message': errorMessage}" class="message">
        {{ successMessage || errorMessage }}
      </div> -->
      <form class="space-y-6 mt-7" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
        <div>
          <label for="email" class="block text-lg mb-3 font-medium leading-6 text-gray-900 ">Email address</label>
          <div class="mt-2">
            <input id="email" formControlName="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg sm:leading-6 py-2 p-3">
            <!-- <div data-cy="error-message" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('required')" class="text-red-500">Email is required</div>
                <div data-cy="error-message-email" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('email')" class="text-red-500">Not a valid email</div> -->
          </div>
          <label for="resetToken" class="block text-lg mb-3 font-medium leading-6 text-gray-900 ">Token</label>
          <div class="mt-2">
            <input  formControlName="resetToken" type="text" autocomplete="resetToken" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg sm:leading-6 py-2 p-3">
            <!-- <div data-cy="error-message" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('required')" class="text-red-500">Email is required</div>
                <div data-cy="error-message-email" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('email')" class="text-red-500">Not a valid email</div> -->
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-lg font-medium leading-6 text-gray-900  ">New Password</label>
          
          </div>
          <div class="mt-2">
            <input formControlName="newPassword" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg lg:leading-6 py-2 p-3">
            <!-- <div data-cy="error-message" *ngIf="logInUserForm.get('password')?.touched && logInUserForm.get('password')?.hasError('required')" class="text-red-500">Password is required</div> -->
          </div>
          
        </div>
  
        <div>

          <button type="submit" class="flex w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700">Reset Password</button>
        </div>
      </form>
    
    </div>
  </div>